/* google fonts import |Mulish| */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');
/* basic typrography */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
a{
    display: inline-block;
    text-decoration: none;
}
li{
    list-style-type: none;
}
section{
    margin: 6rem 0;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
}
/* some variables */
:root{
    --primary-color: #FF5400;
    --dark-color: #424247;
    --black-color: #131318;
    --white-color: #FFF;
    --para-color: #131318;
    --gray-color: #5A5A5D;
}
/* basic typrography class created */
.container{
    width: 98%;
    max-width: 1170px;
    margin: 0 auto;
}
.btn{
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    border-radius: .8rem;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    transition: all .5s ease;
    cursor: pointer;
}
.btn:hover{
    border-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}
.main-heading-title{
    color: var(--black-color);
    font-size: 4rem;
    font-weight: 800;
}
.paragraph-desc{
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}
/* navigation Start */
nav#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    flex-wrap: wrap;
}
/* logo title */
a.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    font-weight: 800;
    color: var(--black-color);
}
a.logo-title img {
    max-width: 4.8rem;
    margin-right: 1rem;
}
a.logo-title span{
    color: var(--primary-color);
}
/* menu */
ul#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4.4rem;
}

ul#menu li a {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-color);
    transition: color .5s ease;
}
a.active-menu{
    color: var(--primary-color) !important;
}
ul#menu li a:hover{
    color: var(--primary-color);
}
.bars{
    font-size: 2.4rem;
    color: var(--black-color);
    display: none;
    cursor: pointer;
    transition: color .5s ease;
}
.bars:hover{
    color: var(--primary-color);
}
/* navigation end */
/* banner start */
.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group13.png) no-repeat center center;
    background-size: cover;
    border-radius: 1.6rem;
    padding: 10rem 1rem;
}
/* banner content */
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.4rem 0;
    max-width: 700px;
    margin: 0 auto;
    color: var(--white-color);
}
h1.banner-content-title {
    font-size: 6.4rem;
    font-weight: 800;
}
p.banner-content-desc {
    color: var(--white-color);
}
/* find now form */
form#find-now-form{
    max-width: 800px;
    margin: 4.8rem auto 0;
    padding: 1.6rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
form#find-now-form input,
 form#find-now-form select {
    border: none;
    outline: none;
    padding: 1.5rem 2.5rem;
    border-radius: .8rem;
    width: 160px;
    appearance: none;
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 400;
}
form#find-now-form input::placeholder{
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 400;
}
/* button.btn.find-now-btn {
    max-width: 250px;
    margin: 0 auto;
} */
button.btn.find-now-btn svg {
    margin-right: .5rem;
}
button.btn.find-now-btn:hover {
    background: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
}
/* banner end */
/* popular tours start */
.popular-tours {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.popular-tours-content {
    flex-basis: calc(60% - 3rem);
}
.popular-tours-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
ul.popular-tour-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
ul.popular-tour-list li {
    list-style-type: disc;
    list-style-position: inside;
    color: var(--gray-color);
}
/* popular tours end */