/* small device responsive */
@media screen and (max-width: 576px) {
    html{
        font-size: 58%;
    }
    .container{
        width: 95%;
        padding: 0 2rem;
    }
    /* navigation */
    ul#menu{
        display: none;
    }
    .bars{
        display: block;
    }
    /* banner */
    .banner{
        padding: 3rem 1rem;
    }
    h1.banner-content-title{
        font-size: 2.2rem;
    }
    form#find-now-form{
        grid-template-columns: 1fr;
        max-width: 350px;
    }
    form#find-now-form input, form#find-now-form select{
        width: 100%;
    }
}

/* medium device responsive */
@media  screen and (min-width: 576px) and (max-width: 992px) {
    /* navigation */
    nav#nav{
        flex-direction: column;
        gap: 2rem 0;
    }
    /* banner */
    .banner{
        padding: 4rem 1rem;
    }
    h1.banner-content-title{
        font-size: 3.2rem;
    }
    form#find-now-form{
        grid-template-columns: repeat(2, 1fr);
    }
    form#find-now-form input, form#find-now-form select{
        width: 100%;
    }
    
}