/* small device responsive */
@media screen and (max-width: 576px) {
    /* html{
        font-size: 58%;
    } */
    .container{
        width: 95%;
        padding: 0 2rem;
    }
    .main-heading-title{
        font-size: 2rem;
    }
    /* navigation */
    ul#menu{
        display: none;
    }
    .bars{
        display: block;
    }
    /* banner */
    .banner{
        padding: 3rem 1rem;
    }
    h1.banner-content-title{
        font-size: 2.2rem;
    }
    form#find-now-form{
        grid-template-columns: 1fr;
        max-width: 350px;
    }
    form#find-now-form input, form#find-now-form select{
        width: 100%;
    }
    /* popular tours */
    .popular-tours,
    .perfect-place{
        flex-direction: column;
    }
    /* dentination */
    .destination{
        grid-template-areas: 
        'Maldives'
        'Indonesia'
        'Srilanka'
        'North-America'
        'Kashmir'
        'Bangladesh'
        'Bandarban'
        ;
        grid-template-rows: repeat(7, 175px);
    }
    .destination-item h4{
        font-size: 2rem;
    }
    /* why choose us */
    .why-choose-us-items{
        flex-direction: column;
    }
    .why-choose-item h3{
        font-size: 2rem;
    }
    /* perfect place video */
    h3.video-desc{
        font-size: 2rem;
    }
    video.mountain-video{
        height: 250px;
    }
    /* newsletter */
    .newsletter{
        flex-direction: column;
    }
    button.btn.travel-save-btn{
        font-size: 1.5rem;
        bottom: 45px;
        right: 0;
    }
    button.btn.travel-save-btn span{
        font-size: 1.4rem;
    }

}

/* medium device responsive */
@media  screen and (min-width: 576px) and (max-width: 992px) {
    /* html{
        font-size: 60%;
    } */
    .container{
        width: 98%;
        padding: 0 3rem;
    }
    .main-heading-title{
        font-size: 3rem;
    }
    /* navigation */
    nav#nav{
        flex-direction: column;
        gap: 2rem 0;
    }
    /* banner */
    .banner{
        padding: 4rem 1rem;
    }
    h1.banner-content-title{
        font-size: 3.2rem;
    }
    form#find-now-form{
        grid-template-columns: repeat(2, 1fr);
    }
    form#find-now-form input, form#find-now-form select{
        width: 100%;
    }
    /* popular tours */
    .popular-tours,
    .perfect-place{
        flex-direction: column;
        align-items: center;
    }
    .popular-tours-images img {
        max-width: 600px;
    }
    /* dentination */
    .destination{
        grid-template-areas: 
        'Maldives Maldives '
        'Indonesia Srilanka '
        'North-America North-America'
        'Kashmir Bangladesh'
        'Bandarban Bandarban'
        ;
        grid-template-rows: repeat(5, 300px);
    }
    .destination-item h4{
        font-size: 2.2rem;
    }
    /* why choose us */
    .why-choose-item h3{
        font-size: 2.2rem;
    }
    /* perfect place video */
    h3.video-desc{
        font-size: 2.2rem;
    }
    video.mountain-video{
        height: 400px;
    }
    /* newsletter */
    .newsletter{
        flex-direction: column;
    }
    button.btn.travel-save-btn{
        font-size: 1.5rem;
        bottom: 45px;
        right: 0;
        font-size: 1.8rem;
    }
    button.btn.travel-save-btn span{
        font-size: 1.6rem;
    }
}